

.msger {
  font-family:montserrat,sans-serif;
  position: absolute;
  bottom: 0;
  right: -45px;
  height: 400px;
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color:$clr4;
  color:white;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  color:$clr4; 
  padding: 15px;
  border-radius: 15px;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
 background-color: $clr4;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  position: relative;
  padding: 24px 10px 10px 10px;
  background: #d6d6f7;
  :focus{
    outline:none; 
  }
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background:white;
  font-family: montserrat,sans-serif;
}
.msger-send-btn {
  font-weight: normal;
  margin-left: 10px;
  background: $clr4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.23s;
}
.msger-send-btn:hover {
  background-color: $clr4;
  color:white; 
}

.msger-chat {
  background-color: #fcfcfe;
}

.typing {
  min-height: 25px;
  color: black;
  position: absolute;
  top: -10px;
  font-size: 1rem;
}

.msger-header i {
  cursor: pointer;
}