
// Preview Page
.eventi-preview {
    cursor: pointer;
    background-color: white;
    color: #232a43;
    display: inline-block;
    margin-right: 5px;
    margin: 10px 5px 10px 5px;



    .preview-title {
        font-weight: bolder;
        font-size: 0.9rem;
        color: #232a43;
        height: 50px;
    }

    .img-area {
        position: relative;

        img {
            height: 300px;
            object-fit: cover;
            border-radius: 16px;
            border: 1px solid #00000021;
            transition: filter .3s ease-in;
            &:hover {
                filter: grayscale(1);
                }
        }

        .wrapper {
            position: absolute;
            bottom: 20px;
            left: 1px;
            z-index: 0;
            background-color: #1b2134;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            transition: background-color .3s;

            &:hover {
                background-color: white;
            }
        }
        .hashtag {
            position: relative;
            top: 0px;
            font-size: 1rem;
            width: 105px;
            background-color: #0000008c;
            // padding-left: 9px;
            text-align: center;
            background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            animation: rainbow_animation 6s ease-in-out infinite;
            background-size: 400% 100%;
        }

        // button {
        //     position: absolute;
        //     padding: 10px 0;
        //     background-color: $clr1;
        //     transition: all 0.2s;
        //     width: 60px;
        //     padding: 5px;
        //     font-size: 0.7rem;
        //     color: $clr3;
        //     border-radius: 0 10px 10px;
        // }
    }


    .icon-text {
        color: #666666;
        font-size: 0.9rem;
        margin-right: 5px;
        margin-left: 3px;
        &.time {
            margin-left:0;
        }
    }


    .event-creator-section {
        display: flex;
        align-items: center;
        .creator {
            margin-left: 5px;
            font-size: 0.7rem;
        }
        .avatar {
            width: rem(15px);
            height: rem(15px);
            border-radius: 50%;
            font-size: 12px;
        }
        .MuiAvatar-colorDefault {
            color: #fafafa;
            background-color: #232a43;
        }
    }
}

@keyframes rainbow_animation {
    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
