.main-filter-container {
    position: fixed;
    width: 125px;
    z-index: 10;
    // border-right: 0.5px solid #d3d3d3;
    transform: translateX(-200%);
    transition: transform 2s;
    padding:0;
    margin:0;
    border-radius: 16px;
    top: 81px;
    left:10px;
    &.trans {
        transform: translateX(0);
        border: 0.5px solid #d3d3d3;

    }

    .tag-list {
        display: flex;
        justify-content: center;
        align-content: space-between;
        flex-wrap: wrap-reverse;
        padding: 10px;

        .user-events {
            background-color: lavender;

            &:hover {
                cursor: pointer;
                background-color: $clr4;
                color: white;
            }
        }

        li {
            margin:10px 3px 4px 3px;
            box-shadow: 0.5px 0.5px 1.5px $clr4;
            text-align: center;
            border-radius: 3.25rem;
            font-size: 0.98rem;
            color: $clr4;
            min-width: 105px;
        }
        li:last-child {
            margin-top: 10px;
        }
    }
    li:hover {
        cursor: pointer;
        background-color: $clr4;
        color: white;
    }

    .form-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 8px 8px 10px 8px;

        .MuiFormControl-root {
            margin-bottom: 10px;
        }
    }
}


