footer {
    background-color: #e6e6fa7d;
    display: flex;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 9vh;

    p {
        margin: 2px;
    }

    img {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 420px) {
    footer {
        p {
            font-size:1rem;
        }
    }
}
