.info {
    background-color: #232a43;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e8e8e8;
    align-items: flex-start;
 

    p {
        &.join {
                color: #b400ff;
        }
    }
    
    &.info-intro {
        background-color: white;
        align-items: center;
        color: #232a43;
        padding: 50px;

        img {
            width: 300px;
        }

        .hashtag {
            color: $clr4;
        }

        h3 {
            color: $clr4;
        }

        .dote-intro {
            color: #3be2ac;
            font-size: 2.5rem;
        }

        .hashtag-intro {
            font-size: 2rem;
            color: #b400ff;
        }

    }

    h3 {
        color: #3be2ac;
        font-family: revert;
        font-weight: 900;
        font-size: 2.3rem;
        line-height: 1.2;
        padding: 20px 0 0 15px;
        .dote {
            color: #e6e6fa;
        }
    }
    p {
        line-height: 1.5;
        font-size: 1.3rem;
        padding: 10px 0 0 15px;
        &:first-child {
            padding: 15px 0 0 15px;
        }

        &:last-child {
            cursor: pointer;
            color: #c2c2fb;
            font-weight: 600;
            border: 1px solid lavender;
            border-radius: 28px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            padding:0;
            line-height: 1;
            padding:8px;
            margin-top: 19px;
            margin-left: 13px;        
            transition: all .3s;

            &:hover {
                color:lavender;
                background-color: #1c2235;
            }
        }
    }
}
