.notification-container {
    position: absolute;
    top: 65px;
    font-family: ubunto, sans-serif;
    right: 10px;
    background-color: #9ba8d6f5;
    overflow-x: hidden;
    max-height: 75vh;
    height: 40vh;
    overflow-y: scroll;
    border-radius: 6px;
    // transition: transfrom .3s ease-in;
    // transition-delay: .3s;
    transform: translateX(110%);

    &.visible {
        animation: notify 1.8s ease;
        animation-fill-mode: forwards;
    }


    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $clr4;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #434e71;
    }

    .notification-list {
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;

        .notification-preview {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // box-shadow: -1px 1px 0.5px 0px #00000075;

            .MuiAvatar-colorDefault {
                color: #fafafa;
                font-size: 1rem;
                background-color: #232a43;
                width: 30px;
                height: 30px;
            }

            .avatar {
                margin: 5px;
            }

            .msg-body {
                .notification-msg {
                    font-size: 0.8rem;
                }
                .notification-date {
                    font-size: 0.6rem;
                    color: #680790;
                }
            }
        }
    }
}

@keyframes notify {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

