.no-events {
    margin: 100px 5px 100px 143px;
    border-radius: 16px;
    color: #0d1538;
    font-weight: 700;
    height: 80vh;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
}